/* Global variables */

/*** NAVBAR ****/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
    --primary-yellow: #fdefbc;
    --secondary-yellow: #fce38a;
    --terciary-yellow: #fbd758;
    
    --primary-grey: rgb(169, 164, 164);
    --primary-black: #2a2a2a;
    --secondary-black: #111111;
    --terciary-black: #000000;
    
    --text-color-white: #fff;
}

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    user-select: none;
    font-family: 'roboto', Arial, Helvetica, sans-serif !important;
}

header ul li{
    font-family: 'roboto', Arial, Helvetica, sans-serif !important;
}

.navbar-container{
    background-color: var(--secondary-yellow);
    width: 100%;
    height: auto;
    padding-bottom: 10px;
    margin: 0 auto;
}

.btn-category-container{
    position: absolute;
    top: 25px;
    right: 10px;
}
@media screen and (max-width:900px){
   .btn-category-container>li{
    display: none;
   }
}

.btn-category-container>li{
    margin: 0 10px;
}

.btn-category-container{
   display: flex;
   align-items: center;
   font-family: inter;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.logo-img{
    width: 70px;
}

.login-btn{
   color: var(--primary-black);
   transition: .5s;  
}

.login-btn:hover{
    opacity: 0.7;
    color: var(--secondary-black);
}

.subscribe-btn{
  background-color: var(--primary-black);
  color:var(--text-color-white);
  padding: 10px 15px;
  border-radius: 5px;
  transition: .5s;
  box-shadow: 1px 2px 2px #2a2a2a;
}

.subscribe-btn:hover{
    background-color: transparent;
    border: 1px solid #2a2a2a;
    color: var(--primary-black);
}

.hamburguer-btn{
    font-size: 20px;
    position: absolute;
    top: 25px;
    right: 20px;
    cursor: pointer;
}
@media screen and (min-width:900px){
    .hamburguer-btn{
        display: none;
    }
}

/*** HEADER ****/

.header-container{
    width: 100%;
    height: 60vh;
    background-color: var(--secondary-yellow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-title{
    text-align: center;
}

.header-subtitle{
  max-width: 400px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
  line-height: 25px;
}
@media screen and (max-width:900px){
    .header-subtitle{
        max-width: 300px;
        font-size: 13px;
        margin-top: 20px;
    }
}

.search-bar-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1px 1px 2px rgb(173, 168, 168);
    border-radius: 0px 5px 5px 0px;
}

.search-bar-input>input{
  background-color: var(--primary-yellow);
  border: none;
  height: 41px;
  width: 300px;
  font-size: 12px;
  padding-left: 10px;
}
@media screen and (max-width:900px){
    .search-bar-input>input{
        max-width: 200px;
    }
}

.search-bar-btn{
    border: none;
    background-color: var(--primary-black);
    color: var(--text-color-white);
    /* border-radius: 0px 5px 5px 0px; */
    border-radius: 5px;
    height: auto;
    font-size: 14px;
    padding: 10px;
    font-weight: 700;
    transition: .5s;
}

.search-bar-btn:hover{
    background-color: transparent;
    border: 1px solid rgb(173, 168, 168);
    color: var(--primary-black);
}


/**** real time screen ****/

.real-time-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px 0;
}
@media screen and (max-width:700px){
    .real-time-container{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 20px;
    }
}

.real-time-info-container{
    text-align: start;
}
@media screen and (max-width:900px){
    .real-time-info-container{
        text-align: center;
    }
}

.real-time-img-container{
    position: relative;
}

.real-time-info-title>h4{
    font-weight: 700;
}

.real-time-topics-container{
    margin-top: 30px;
}
.real-time-img{
  width: 140px;
  height: 260px;
  position: absolute;
  top: 12%;
  left: 21%;
}

.real-time-topic-icon{
  display: flex;
  font-size: 25px;
  gap: 10px;
}

.real-time-topic-icon p{
    font-size: 1rem;
}

/**** how to get to ****/

.details {
    background: var(--secondary-yellow);
    padding: 50px;
}

.details h4 {
    font-size: 30px;
    padding-bottom: 10px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}

.details div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@media screen and (max-width: 767px){
    .details div {
        flex-wrap: wrap;
    }
}

.details-header-card{
    background-color: var(--primary-black);
    width: 100%;
    height: 25%;
    position: relative;
    top: -13%;
    border-radius: 5px 5px 0px 0px;
}

.details div section {
    width: 250px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--secondary-yellow);
    box-shadow: 0px 2px 5px 2px rgb(173, 168, 168);
    cursor: default;
    transition:.5s;
    margin: 10px;
}

.details div section:hover{
    transform: translateY(-10px);
}

.details div .icon-card {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--terciary-yellow);
    box-shadow: 0px 2px 5px rgb(173, 168, 168);
}

.icon-card{
    position: absolute;
    top: 30%;
}

.details div i {
    font-size: 50px;
}

.details div p {
    width: 80%;
    text-align: center;
    font-size: 15px;
    padding-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.highlight-text{
    /* text-decoration: underline; */
    font-weight: 700;
}

.details div button {
    border: none;
    height: 50px;
    width: 150px;
    font-weight: bold;
    border-radius: 5px;
    text-transform: uppercase;
    background-color: var(--terciary-yellow);
    box-shadow: 0px 2px 3px rgb(173, 168, 168);
    transition:.5s;
    cursor: pointer;
}

.details div button:hover{
    background-color: transparent;
    color: var(--primary-black);

}

/* modal login e cadastro*/

#exampleModalToggle .modal-header,
#exampleModalToggle2 .modal-header {
    border-bottom: none !important;
}

#exampleModalToggle .modal-content {
    width: 350px;
    height: 400px;
    background-color: var(--secondary-yellow);
    border-radius: 5px;
    box-shadow: 1px 2px 3px #2a2a2a;
}

#exampleModalToggle2 .modal-content {
    width: 350px;
    height: 450px;
    background-color: var(--secondary-yellow);
    border-radius: 5px;
    box-shadow: 1px 2px 3px #2a2a2a;
}

#exampleModalToggle .modal-content h4,
#exampleModalToggle2 .modal-content h4 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

#exampleModalToggle .modal-content form,
#exampleModalToggle2 .modal-content form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#exampleModalToggle .modal-content form input,
#exampleModalToggle2 .modal-content form input {
    border: none;
    width: 200px;
    height: 35px;
    padding: 5px;
    margin: 10px 0px;
    border-radius: 5px;
}

#exampleModalToggle .modal-content form button,
#exampleModalToggle2 .modal-content form button {
    width: 120px;
    border: none;
    font-size: 20px;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 15px;
    color: var(--text-color-white);
    background-color: var(--primary-black);
    box-shadow: 0px 2px 3px var(--primary-black);
    transition: .5s;
}

.modal-content form button:hover{
   background-color: transparent !important;
   border: 1px solid #2a2a2a !important;
   color: #2a2a2a !important;
}


#exampleModalToggle .modal-content form p,
#exampleModalToggle2 .modal-content form p {
    max-width: 200px;
    text-align: center;
    font-size: 17px;
    margin-top: 10px;
    color: var(--secondary-black);
}

#exampleModalToggle .modal-content form p a, 
#exampleModalToggle2 .modal-content form p a {
    color: var(--secondary-black);
    font-weight: bold;
}

#senha1 {
    position: absolute;
    top: 136px;
    left: 240px;
}

#senha2 {
    position: absolute;
    top: 190px;
    left: 240px;
}

#senha3 {
    position: absolute;
    top: 245px;
    left: 240px;
}

/* Contato */

.contact {
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contact section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact img {
    max-width: 500px;
}

.contact p {
    font-size: 17px;
}

.contact form input {
    height: 30px;
    width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contact form div {
    display: flex;
    justify-content: end;
}

.contact form button {
    border: none;
    width: 100px;
    height: 30px;
    font-size: 17px;
    border-radius: 15px;
    color: var(--text-color-white);
    background-color: var(--primary-black);
    box-shadow: 0px 2px 3px var(--primary-black);
}

.contact form input,
.contact form textarea,
.contact form select {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #2a2a2a;
}

/* rodapé */

.row {
    --bs-gutter-x: 0rem !important;
}

footer {
    width: 100%;
    padding: 10px;
    background-color: #2a2a2a;
}

.footer-logo {
    margin: 15px;
}

.footer-logo h1{
    border-bottom: 2px solid #fbd758;
    color: #fbd758;
    width: max-content;
    margin: auto;
    font-size: 3.1rem;
}

.footer-logo p {
    color: #fbd758;
    margin-top: 5px;
}

.footer-icons>i {
    width: 30px;
    color: #fbd758;
    cursor: pointer;
    transition: .5s;
}
.footer-icons>i:hover{
    opacity: 0.7;
}


footer section p {
    color: #fbd758;
    font-weight: 500;
    font-size: 20px;
    line-height: 8px;
}

footer section p a {
    font-size: 12px;
    text-decoration: none;
    color: #fbd758;
    transition: .5s;
}

footer section p a:hover {
  opacity: 0.7;
  color: var(--secondary-yellow);
}


footer .links {
   margin-top: 30px;
}

.logo-footer{
    width: 150px;
    margin-bottom: 10px;
}

.logo-and-social-footer-container{
    margin: 0 auto;
    margin-top: 20px;
}
